@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <div>
        <h2>Search Results</h2>
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>
